<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2">
        <h1 class="" style="text-align: center;">Spécialité du jour</h1>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 endroit">
<img src="../../img/menu_jour/1.jpg"  class="img-rounded img-responsive "><a href="" class="btn-xs btn btn-default">participer</a>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 endroit">
<img src="../../img/menu_jour/acc1.jpg"  class="img-rounded img-responsive "><a href="" class="btn-xs btn btn-default">participer</a>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 endroit">
<img src="../../img/menu_jour/acc2.jpg"  class="img-rounded img-responsive "><a href="" class="btn-xs btn btn-default">participer</a>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 endroit">
<img src="../../img/menu_jour/acc3.jpg"  class="img-rounded img-responsive "><a href="" class="btn-xs btn btn-default">participer</a>
</div>

</div>
</div>
